html,body{margin:0;padding:0;background-color:black;color:white;}
.header{background-color:#222428;color:white;display:flex; flex-direction: row;justify-content: space-between;}
.head-container{max-width:1200px;margin:0 auto;}